# Binance API Ayarları
BINANCE_API_KEY=XkEyk1K0JGofyzxTA8yvTYwR4wbsIJqw5HBFUtyFnJUFUcrgcMFAiDTWvucdFb2J
BINANCE_API_SECRET=LnqZSFLj8hMkhJeqqE2zGYdmyKcjwW9z3A73gniucQmDMQGxmkZUE4gg64ycjQDc

# Binance Testnet (Paper Trading) API Ayarları
BINANCE_TESTNET_API_KEY=szUZOsVVDuiRNtsa5tmDyBtoMPHnO1mEiFOcE3ppHJWmHhkAYPySMlH5lA8d6KJe
BINANCE_TESTNET_API_SECRET=EVUQeYLpmq1uQKAvge4j2KtwWgKqIrucmsqoeywsZCCemWfGEaVxGGihO2eEioeD

# Telegram Bot Ayarları
TELEGRAM_BOT_TOKEN=8634238125:AAHkUJWSFvXFZpEwV6wn6SVRmtbgW8u1Euw
TELEGRAM_CHAT_ID=1059480833

# Genel Ayarlar
TRADING_MODE=paper